<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Screnshots.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Screnshots.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Screnshots.GlobalSettings>
            <setting name="FirstKeyShow" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="SecondKeyShow" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FirstKeyHide" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="SecondKeyHide" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="CreateScreenshotFirstKey" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="CreateScreenshotSecondKey" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="NumberSave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PathSave" serializeAs="String">
                <value />
            </setting>
        </Screnshots.GlobalSettings>
        <Screnshots.Settings1>
            <setting name="FirstKeyShow" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="SecondKeyShow" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FirstKeyHide" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="SecondKeyHide" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="CreateScreenshotFirstKey" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="CreateScreenshotSecondKey" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="Параметр" serializeAs="String">
                <value />
            </setting>
        </Screnshots.Settings1>
    </userSettings>
</configuration>